$font-primary: 'Oswald', sans-serif; 
$font-secondary: 'Nunito', sans-serif;
$font-nav-button: 'Playfair Display SC', serif;  

$colour-primary: #000000;
$colour-background: #E4E4E4; 
$colour-background-second: #FFFFFF;
$colour-ul: black; 
$colour-nav: #023373;
$colour-button-contact:#F2BC1B;

