.imgHeader img {
    width: 100%;
    object-fit: cover;
 
   
}

.img-front img {
  width: 100%;
  height: 250px;
 

}

.intro-container {
  display: flex;
  align-items: center;
  background-color:$colour-nav;
  height: 300px;
  margin-bottom: 50px;
  margin-top: 20px;

}

.vision-h2 {
  font-family: $font-primary;
  color:$colour-background-second;
  padding: 30px;
 

}

.vision-text {
  color:$colour-background-second;
  margin-left: 30px;

}

.img-frontbottom img {
  width: 100%;
  height: 300px;


}





