html, body {
    margin: 0 !important;
    padding: 0 !important;
    
}


* {
	box-sizing: border-box;
}


body {
    font-family: $font-secondary;
 

    
}

.logo {
    background-color: $colour-nav
}

.logo img {
 
    height: 80px;
    padding-top: 20px;

 
}

.search-bar {
    width: 50%;
    margin: auto;
   
}

.navbar {
    background-color: $colour-nav;

  
}

.nav-link:hover {
    color: $colour-nav;
}

.list-hotels {
margin: 5px;

}

.contact-info {
    margin-top: 20px;
}



.contact-info {
    padding-top:30px;
    padding-bottom: 30px;
    background-color:$colour-background;
}

















